# GOOGLE REQUIREMENTS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# STRIPE REQUIREMENTS
STRIPE_SECRET_PKEY=
STRIPE_SECRET_SKEY=
STRIPE_WEBHOOK_SECRET=

# DATABASE REQUIREMENTS
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=